html {
    height: 100%;
    font-size: 12px;
}

body {
    height: 95%;
    background-color: #9a9;
    position: relative;
}

.ball-area {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 100px;
    height: 100px;
    -khtml-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
